body {
  font-family: helvetica, sans-serif;
  margin: 0 ;
  max-width: 100%;
  background: #202020;
}
div {
  height: 800px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid blue;
  text-align: center;
}
.fixed {
    position: fixed;
    top: 10px;
  }
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 85px;
  color: #E0E0E0;
  z-index: 99;
  border: 1px solid red;
  margin: 50px -300px;
  left: 50%;
}
h2 {
  text-align: center;
  color: #E0E0E0;
  margin: 200px 0 0px 0;

}
header div{
  height: 400px;
  cursor: default;
}
.arrow-down{
  width: 110px;
  position: absolute;
  bottom: 160px;
  right:50%;
  margin-right: -55px;
  -webkit-animation-name: arrow; 
  -webkit-animation-duration: infinite; 
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes arrow{
    0%{bottom:220px;}
    50%{opacity:190px;}
    100%{bottom:160px;}
}

p {
  font-size: 30px;
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,1));
  padding: 0px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
small p{
  font-size: 25px;

}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
  width: 100%;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("../slike/php.jpeg"); 
}
.second{
  background-image: url("../slike/programiranje.jpg");
  background-attachment: fixed;
}
.third{
  background-image: url('../slike/programiranje2.jpg');

}

#first-div {
  cursor: default;
  background-image: url(../slike/pozadina-footera.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#second-div {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
  color: white;
  cursor: default;
  background-color: rgba(0,0,0,.9);
  position: relative;
  top: 125px;
}
form{
  padding-top: 50px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}